version: '3'

services:
  postgres:
    image: postgres:13.5
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=place4live
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
